{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block content %}
    <style>
        body {
            width: 400px;
            text-align: center;
            margin: 0 auto;
        }</style>
    <div class="form-group">
        <h2>{% translate 'Create new cinema hall' %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">{% translate 'Create' %}</button>
        </form>
    </div>
{% endblock %}
