{% extends 'base.html' %}
{% load i18n %}
{% load mathfilters %}
{% block titles %}{% translate 'Home page' %}{% endblock %}

{% block content %}
    <a href="{% url 'cinema:tomorrow' %}">{% translate "Tomorrow session" %}</a> <br>
    {% if user.is_authenticated %}
        <div>
            <form>
                {{ filter }}
                <input type="submit" value="{% translate 'filter' %}">
            </form>
        </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    {% for session in sessions %}
        <div>
            <form method="post" action="{% url 'cinema:create_ticket' %}">
                {% csrf_token %}
                <p>{% translate 'Hall' %}:  {{ session.hall.name }}
                    {% if user.is_superuser %}
                        <a href="{% url 'cinema:update_hall' session.hall.slug %}">{% translate 'Change hall' %}</a></p>
                    {% endif %}<br>
                {% translate 'Free places' %}: {{ session.hall.size|sub:session.total }}<br>
                {% translate 'Time' %}: {{ session.start_time|time:"H:i" }} - {{ session.end_time|time:"H:i" }}<br>
                {% translate 'Show date' %}: {{ session.get_show_date }}<br>
                {% translate 'Ticket price' %}: {{ session.price }}<br>
                {% if user.is_authenticated %}
                    {{ quantity }}
                    <input type="hidden" name="session" value='{{ session.pk }}'>
                    <input type="submit" value="{% translate 'Buy' %}">
                {% endif %} <br>
                {% if user.is_superuser %}
                    <a href="{% url 'cinema:update_session' session.pk %}">{% translate 'Change session' %}</a>
                {% endif %}
            </form>
        </div>
    {% endfor %}
{% endblock %}